<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %}{% endblock %} | CBox</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
        {% block extra_styles %} {% endblock %}
        <script src="{{ url_for('static', filename='js/jquery-3.2.1.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        {% block extra_scripts %} {% endblock %}
    </head>
    <body>
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">CBox</a>
                </div>
                <div id="nav-menu" class="navbar-right navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Homepage</a></li>
                        <li><a href="/search">Search</a></li>
                        <li><a href="/collections">Collections</a></li>
                        <li><a href="/import">Import</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                </div>
            </div>
        </div>


        {% block content %}{% endblock %}


        <div class="container">
            <div class="row">
                <hr />
                <footer>
                    <p>&copy; crab2313 crab2313@gmail.com</p>
                </footer>
            </dev>
        </div>
    </body>
</html>